<%= notice %>
<h1>書本列表</h1>
<table>
  <thead>
    <tr>
      <td>書名</td>
      <td>簡介</td>
      <td>作者</td>
      <td>價錢</td>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.intro %></td>
        <td><%= book.author %></td>
        <td><%= ntd(book) %></td>
        <td><%= link_to "查閱",book %></td>
        <td><%= link_to "編輯",edit_book_path(book) %></td>
        <td><%= link_to "刪除",book ,method: "delete", data: { confirm: '確定要刪除?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>
<%= link_to "新增書籍",new_book_path %>
